<% layout('/layouts/boilerplate')%>

<style>
   #filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
   }
   .filter{
    margin-left: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    opacity: 0.7;
   }

   .filter:hover{
    opacity: 1;
    cursor: pointer;
   }
   .filter p{
    font-size: 0.8rem;
   }
   .tax-info{
    display: none;
   }
   .tax-toggle{
    border: 1px solid black;
    border-radius: 1rem;
    height:3.5rem;
    padding: 1rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
   }
</style>

   <div id="filters">
     
           <div class="filter">
               <div><i class="fa-solid fa-fire"></i></div>
                <p>Trending</p>
           </div>

           <div class="filter">
            <div><i class="fa-solid fa-bed"></i></div>
             <p>Room</p>
           </div>
           
           <div class="filter">
            <div><i class="fa-solid fa-mountain"></i></div>
             <p>Mountain</p>
           </div>
           
           <div class="filter">
            <div><i class="fa-solid fa-person-swimming"></i></div>
             <p>Pool</p>
           </div>
           
           <div class="filter">
            <div><i class="fa-solid fa-tree"></i></div>
             <p>Nature</p>
           </div>
           
           <div class="filter">
            <div><i class="fa-brands fa-fort-awesome"></i></div>
             <p>Iconic</p>
           </div>
           
           <div class="filter">
            <div><i class="fa-solid fa-umbrella-beach"></i></div>
             <p>Beach</p>
           </div>
           
           <div class="filter">
            <div><i class="fa-solid fa-campground"></i></div>
             <p>Campaign</p>
           </div>
           
           <div class="filter">
            <div><i class="fa-solid fa-ship"></i></div>
             <p>Boat House</p>
           </div>
           
           
        <div class="tax-toggle">
          <div class="form-check-reverse form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Including taxes</label>
          </div>
        </div>

   </div>
<div >
   <h3>Explore:</h3>
<div class="row row-cols-lg-3 row-cols-md-2 row-col-sm-1">
  
   <% for(let listing of allListing){ %>
    <a href="/listing/<%=listing._id%>" class="listing-links">
    <div class="card listing-card" style="width: 18rem;">
        <img src="<%=listing.image.url%>" class="card-img-top" alt="error.." style="height: 20rem;">
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <h5 class="card-title"><%=listing.title%></h5>
          <p class="card-text">₹<%=listing.price.toLocaleString("en-IN")%>/night
            <i class="tax-info"> &nbsp;&nbsp; +18% GST</i></p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </a>

    <% } %>
</div>
    


    
</div>

<script>
  let taxSwitch=document.getElementById("flexSwitchCheckDefault");
  taxSwitch.addEventListener("click",()=>{
    let taxInfo =document.getElementsByClassName("tax-info");

    for(info of taxInfo){
      if(info.style.display!="inline"){
        info.style.display="inline";
      }else{
        info.style.display="none";
      }
    }
  });
</script>
